/* Write your CSS code here */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-img-container {
  display: flex;
  order: 1;
}

.content {
  display: flex;
  flex-direction: column;
  order: 0;
}

.ecom-img {
  width: 350px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 10px;
}

.heading {
  color: #1e293b;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Roboto';
  max-width: 500px;
}

.text {
  color: #64748b;
  font-size: 15px;
  font-family: 'Roboto';
  max-width: 500px;
}

.shop-btn {
  padding: 8px 16px;
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 996px) {
  .ecom-img {
    width: 200px;
  }
  .heading {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex-wrap: wrap;
  }
}
